{% extends "base.html" %}
{% block content %}

<style>
    .gallery-full-width {
        width:100%;
        background: black;
    }
    .gallery-full-width img {
        padding-bottom: 1%;
    }

    .heading-extra-large {
        background: black;
        color: white;
    }

    @media only screen and (max-width: 600px) {
        pass
    }
    @media only screen and (min-width: 600px) {
        .gallery-full-width {
            width: 85%;
        }
    }
    @media only screen and (min-width: 1280px) {
        .gallery-full-width {
            width: 70%;
        }
    }
</style>
<!--    <div class="heading-extra-large">-->
<!--        <p class="text-center">CHARACTER CONCEPT</p>-->
<!--    </div>-->
<img src="static/images/environments/sorcerers-abode/thumbnails.jpg" width="100%" loading="lazy">
<div style="display: flex; justify-content: center; background:black;">
    <a href="https://shwetabhsuman.com" class="btn-1 text-center heading-medium" target="_blank" style="width:30%; text-decoration:none;">COMPLETE PORTFOLIO</a>
</div>

{% endblock %}